<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accesorios</title>
    <meta name="description" content="Jardinería Hernández, tranformando tu patio, contamos con una gran variedad de servicios...">
    <meta name="keywords" content="Jardinería, Servicios de Jardinería, Plantas, Jardin">
    <link rel="icon" href="{{ url_for('static', filename='img/iconoverde.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilosM.css') }}">
</head>
<body>
    <header>
    <div class="logo1">
        <figure class="logo__Empresa">
            <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/CapturaLogo3.JPG') }}" alt="Logo de la Jardinería Hernández" title="Logo de la Jardinería Hernández" class="logo"></a>
        </figure>
    </div>
    <nav class="menu">
            <!-- Menu-->
        <ul class="menu__superior">
            <li class="menu__icono">
                <div class="iconoBusqueda" alt="Buscar">
                    <img src="{{ url_for('static', filename='img/search-alt-regular-36.png') }}" alt="lupa" class="icon buscarIcono">
                    <div class="busqueda">
                        <input type="text" placeholder="Buscar..." class="inputBuscar">
                        <span class="limpiarBuscar"><strong>&times;</strong></span>
                    </div>
                </div>
                <a href="{{ url_for('carrito') }}"><img src="{{ url_for('static', filename='img/cart-alt-regular-36.png') }}" alt="carrito" class="icon"></a>
                <a href="{{ url_for('perfil') }}"><img src="{{ url_for('static', filename='img/user-circle-regular-36.png') }}" alt="usuario" class="icon"></a>
            </li>
        </ul>
        <ul class="menu__horizontal">
            <li class="menu__Empresa"><a href="{{ url_for('index') }}">Inicio</a></li>
            <li class="menu__Empresa"><a href="{{ url_for('servicios') }}">Servicios</a></li>
            <li class="menu__Empresa"><a href="{{ url_for('catalogo') }}">Productos</a>
                <ul class="menu__vertical">
                    <li><a href="{{ url_for('plantas') }}">Plantas</a></li>
                    <li><a href="{{ url_for('fertilizantes') }}">Fertilizantes</a></li>
                    <li><a href="{{ url_for('herramientas') }}">Herramientas</a></li>
                    <li><a href="{{ url_for('accesorios') }}">Accesorios</a></li>
                </ul>
            </li>
            <li class="menu__Empresa"><a href="{{ url_for('contactos') }}">Contacto</a></li>
            <li class="menu__Empresa"><a href="{{ url_for('nosotros') }}">Nosotros</a></li>
        </ul>
        <div class="flecha">
            <a href="javascript:history.back()">
            <figure>
                <img src="{{ url_for('static', filename='img/left-arrow-alt-regular-24.png') }}" alt="atras" class="atras">
            </figure>
            </a>
        </div>
    </nav>
    </header>
    <main>
        <section class="M-catalogo">
            <h3 class="text-i">Accesorios</h3>
            <div class="desplegable">
                <li><a href="#" class="desplegable-desplasado">Categorias</a></li>
                <ul class="desplegable-menu" style="display: none;">
                    <li><a href="#" data-category="all">Relevancia</a></li>
                    <li><a href="#" data-category="Macetas">Macetas</a></li>
                    <li><a href="#" data-category="Aspersores">Aspersores</a></li>
                    <li><a href="#" data-category="Regaderas">Regaderas</a></li>
                    <li><a href="#" data-category="Bases">Bases</a></li>
                </ul>
            </div>
            <br><br>
            <div class="M-productos">
                {% for producto in productos %}
                <div class="M-producto" data-category="{{ producto.subcategoria }}">
                    <a href="{{ url_for('producto', idProducto=producto.idProducto) }}">
                        <img src="{{ url_for('static', filename='img/' + producto.imagen) }}" alt="{{ producto.nombre }}">
                    </a>
                    <h2>{{ producto.nombre }}</h2>
                    <p class="M-precio-color">${{ producto.precio }}</p>
                </div>
                {% endfor %}
            </div>
        </section>
    </main>
    <footer class="footer">
        <p class="texto__footer">&copy; Todos los derechos reservados - Jardinería Hernández 2024.</p>
    </footer>
    <script src="{{ url_for('static', filename='js/Categorias.js') }}"></script>
</body>
</html>
