<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar método de pago</title>
    <meta name="description" content="Jardinería Hernández, transformando tu patio, contamos con una gran variedad de servicios...">
    <meta name="keywords" content="Jardinería, Servicios de Jardinería, Plantas, Jardín">
    <link rel="icon" href="{{ url_for('static', filename='img/iconoverde.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
</head>
<body>
    <header>
        <div class="logo1">
            <figure class="logo__Empresa">
                <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/CapturaLogo3.JPG') }}" alt="Logo de la Jardinería Hernández" title="Logo de la Jardinería Hernández" class="logo"></a>
            </figure>
        </div>
        <nav class="menu">
            <!-- Menu-->
            <ul class="menu__superior">
                <li class="menu__icono">
                    <div class="iconoBusqueda" alt="Buscar">
                        <img src="{{ url_for('static', filename='img/search-alt-regular-36.png') }}" alt="lupa" class="icon buscarIcono">
                        <div class="busqueda">
                            <input type="text" placeholder="Buscar..." class="inputBuscar">
                            <span class="limpiarBuscar"><strong>&times;</strong></span>
                        </div>
                    </div>
                    <a href="{{ url_for('carrito') }}"><img src="{{ url_for('static', filename='img/cart-alt-regular-36.png') }}" alt="carrito" class="icon"></a>
                    <a href="{{ url_for('inicioSesion') }}"><img src="{{ url_for('static', filename='img/user-circle-regular-36.png') }}" alt="usuario" class="icon"></a>
                    <i class="fa-thin fa-circle-user" style="color: #fff;"></i>
                </li>
            </ul>
            <ul class="menu__horizontal">
                <li class="menu__Empresa"><a href="{{ url_for('index') }}">Inicio</a></li>
                <li class="menu__Empresa"><a href="{{ url_for('servicios') }}">Servicios</a></li>
                <li class="menu__Empresa"><a href="{{ url_for('catalogo') }}">Catálogo</a>
                    <ul class="menu__vertical">
                        <li><a href="{{ url_for('plantas') }}">Plantas</a></li>
                        <li><a href="{{ url_for('fertilizantes') }}">Fertilizantes</a></li>
                        <li><a href="{{ url_for('herramientas') }}">Herramientas</a></li>
                        <li><a href="{{ url_for('accesorios') }}">Accesorios</a></li>
                    </ul>
                </li>
                <li class="menu__Empresa"><a href="{{ url_for('contacto') }}">Contacto</a></li>
                <li class="menu__Empresa"><a href="{{ url_for('nosotros') }}">Nosotros</a></li>
            </ul>
            <div class="flecha">
                <a href="javascript:history.back()">
                <figure>
                    <img src="{{ url_for('static', filename='img/left-arrow-alt-regular-24.png') }}" alt="atras" class="atras">
                </figure> 
                </a>
            </div>
        </nav>
    </header>
    <div id="contenedor">
        <main class="perfil">
            <form class="formaPago">
                <h2>Agregar una tarjeta de crédito o débito</h2>
                
                <div class="formaPago2">
                    <label for="nombre">Nombre en la tarjeta:</label>
                    <input type="text" id="nombre" name="nombre" required><br><br>
                </div>
                <div class="formaPago2">
                    <label for="numTarjeta">Número en la tarjeta:</label>
                    <input type="text" id="numTarjeta" name="numTarjeta" maxlength="19" required><br><br>
                </div>
                <div class="formaPago3">
                    <label for="fechaExpiracion">Fecha de expiración:</label>
                    <select id="meses" name="meses" required>
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                    <select id="años" name="años" required>
                    </select>
                    <br><br>
                </div>
                <div class="formaPago4">
                    <label for="cvv">Código de seguridad (CVV):</label>
                    <input type="password" id="cvv" name="cvv" maxlength="4" required><br><br>
                </div>
                <div class="botonPago">
                    <button type="submit">Agregar tu tarjeta</button>
                </div>
            </form>
        </main>
    </div>    
    <footer class="footer">
        <p class="texto__footer">&copy; Todos los derechos reservados - Jardinería Hernández 2024.</p>
    </footer>
    <script src="{{ url_for('static', filename='js/metodoPago.js') }}"></script>
</body>
</html>
