<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <meta name="description" content="Jardinería Hernández, transformando tu patio, contamos con una gran variedad de servicios...">
    <meta name="keywords" content="Jardinería, Servicios de Jardinería, Plantas, Jardín">
    <link rel="icon" href="{{ url_for('static', filename='img/CapturaLogo.JPG') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilosE.css') }}">
</head>
<body>
    <header>
        <div class="logo1">
            <figure class="logo__Empresa">
                <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/CapturaLogo3.JPG') }}" alt="Logo de la Jardinería Hernández" title="Logo de la Jardinería Hernández" class="logo"></a>
            </figure>
        </div>
        <nav class="menu">
            <ul class="menu__superior">
                <li class="menu__icono">
                    <div class="iconoBusqueda" alt="Buscar">
                        <img src="{{ url_for('static', filename='img/search-alt-regular-36.png') }}" alt="lupa" class="icon buscarIcono">
                        <div class="busqueda">
                            <input type="text" placeholder="Buscar..." class="inputBuscar">
                            <span class="limpiarBuscar"><strong>&times;</strong></span>
                        </div>
                    </div>
                    <a href="{{ url_for('carrito')}}"><img src="{{ url_for('static', filename='img/cart-alt-regular-36.png') }}" alt="carrito" class="icon"></a>
                    <a href="{{ url_for('inicioSesion') }}"><img src="{{ url_for('static', filename='img/user-circle-regular-36.png') }}" alt="usuario" class="icon"></a>
                    <i class="fa-thin fa-circle-user" style="color: #fff;"></i>
                </li>
            </ul>
            <ul class="menu__horizontal">
                <li class="menu__Empresa"><a href="{{ url_for('index') }}">Inicio</a></li>
                <li class="menu__Empresa"><a href="{{ url_for('servicios') }}">Servicios</a>
                </li>
                <li class="menu__Empresa"><a href="{{ url_for('catalogo') }}">Catálogo</a>
                    <ul class="menu__vertical">
                        <li><a href="{{ url_for('plantas') }}">Plantas</a></li>
                        <li><a href="{{ url_for('fertilizantes') }}">Fertilizantes</a></li>
                        <li><a href="{{ url_for('herramientas') }}">Herramientas</a></li>
                        <li><a href="{{ url_for('accesorios') }}">Accesorios</a></li>
                    </ul>
                </li>
                <li class="menu__Empresa"><a href="{{ url_for('contacto') }}">Contacto</a></li>
                <li class="menu__Empresa"><a href="{{ url_for('nosotros') }}">Nosotros</a></li>
            </ul>
            <div class="flecha">
                <a href="javascript:history.back()">
                    <figure>
                        <img src="{{ url_for('static', filename='img/left-arrow-alt-regular-24.png') }}" alt="atras" class="atras">
                    </figure> 
                </a>
            </div>
        </nav>
    </header>
    <div id="contenedor">
        <main class="perfil">
            <figure>
                <img src="{{ url_for('static', filename='img/juana.webp') }}" alt="Foto de perfil" class="fotoPerfil">
            </figure>
            <p class="nombre">Juana Almanzar</p>
            <figure class="ubicacion">
                <img src="{{ url_for('static', filename='img/map-solid-36.png') }}" alt="Icono de ubicación">
                <figcaption class="nombreUbicacion">Los Jardines Metropolitanos</figcaption>
            </figure>
            <ul class="listaPerfil">
                <li>
                    <a href="{{ url_for('infoPersonal') }}">
                        <p class="infoPersonal">Información personal</p>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('infoPersonal') }}">
                        <figure class="desplegarPerfil">
                            <img src="{{ url_for('static', filename='img/chevron-right-regular-36.png') }}" alt="Desplegar" class="menu__perfil">
                        </figure>
                    </a>
                </li> 
                <li>
                    <a href="{{ url_for('agregarMetodoPago') }}">
                        <p class="infoPersonal">Agregar método de pago</p>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('agregarMetodoPago') }}">
                        <figure class="desplegarPerfil">
                            <img src="{{ url_for('static', filename='img/chevron-right-regular-36.png') }}" alt="Desplegar" class="menu__perfil">
                        </figure>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('cambiarContrasena') }}">
                        <p class="infoPersonal">Cambiar contraseña</p>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('cambiarContrasena') }}">
                        <figure class="desplegarPerfil">
                            <img src="{{ url_for('static', filename='img/chevron-right-regular-36.png') }}" alt="Desplegar" class="menu__perfil">
                        </figure>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('pedidos') }}">
                        <p class="infoPersonal">Pedidos</p>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('pedidos') }}">
                        <figure class="desplegarPerfil">
                            <img src="{{ url_for('static', filename='img/chevron-right-regular-36.png') }}" alt="Desplegar" class="menu__perfil">
                        </figure>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('cerrarSesion') }}" id="cerrarSesion">
                        <p class="infoPersonal">Cerrar sesión</p>
                    </a>
                </li>
            </ul>
        </main>
        <!-- Modal de Confirmación -->
        <div id="logoutModal" class="modal">
            <div class="modal-content">
                <span class="closeBtn">&times;</span>
                <figure class="imagen-cerrar">
                    <img src="{{ url_for('static', filename='img/CapturaLogo.JPG') }}" alt="">
                </figure>
                <p>¿Estás seguro que quieres cerrar sesión?</p>
                <div class="botonCerrar">
                    <button id="confirmBtn">Confirmar</button>
                    <button id="cancelBtn">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/cerrarSesion.js') }}"></script>
    <footer class="footer">
        <p class="texto__footer">&copy; Todos los derechos reservados - Jardinería Hernández 2024.</p>
    </footer>
</body>
</html>
