<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos</title>
    <meta name="description" content="Jardinería Hernández, transformando tu patio, contamos con una gran variedad de servicios...">
    <meta name="keywords" content="Jardinería, Servicios de Jardinería, Plantas, Jardín">
    <link rel="icon" href="{% static 'img/iconoverde.png' %}">
    <link rel="stylesheet" href="{% static 'css/estilosE.css' %}">
</head>
<body>
    <header>
        <div class="logo1">
            <figure class="logo__Empresa">
                <a href="{% url 'index' %}"><img src="{% static 'img/CapturaLogo3.JPG' %}" alt="Logo de la Jardinería Hernández" title="Logo de la Jardinería Hernández" class="logo"></a>
            </figure>
        </div>
        <nav class="menu">
            <ul class="menu__superior">
                <li class="menu__icono">
                    <div class="iconoBusqueda" alt="Buscar">
                        <img src="{{ url_for('static', filename='img/search-alt-regular-36.png') }}" alt="lupa" class="icon buscarIcono">
                        <div class="busqueda">
                            <input type="text" placeholder="Buscar..." class="inputBuscar">
                            <span class="limpiarBuscar"><strong>&times;</strong></span>
                        </div>
                    </div>
                    <a href="{% url 'carrito' %}"><img src="{% static 'img/cart-alt-regular-36.png' %}" alt="carrito" class="icon"></a>
                    <a href="{% url 'inicioSesion' %}"><img src="{% static 'img/user-circle-regular-36.png' %}" alt="usuario" class="icon"></a>
                    <i class="fa-thin fa-circle-user" style="color: #fff;"></i>
                </li>
            </ul>
            <ul class="menu__horizontal">
                <li class="menu__Empresa"><a href="{{ url_for('index') }}">Inicio</a></li>
                <li class="menu__Empresa"><a href="{{ url_for('servicios') }}">Servicios</a>
                </li>
                <li class="menu__Empresa"><a href="{{ url_for('catalogo') }}">Catálogo</a>
                    <ul class="menu__vertical">
                        <li><a href="{{ url_for('plantas') }}">Plantas</a></li>
                        <li><a href="{{ url_for('fertilizantes') }}">Fertilizantes</a></li>
                        <li><a href="{{ url_for('herramientas') }}">Herramientas</a></li>
                        <li><a href="{{ url_for('accesorios') }}">Accesorios</a></li>
                    </ul>
                </li>
                <li class="menu__Empresa"><a href="{{ url_for('contacto') }}">Contacto</a></li>
                <li class="menu__Empresa"><a href="{{ url_for('nosotros') }}">Nosotros</a></li>
            </ul>
            <div class="flecha">
                <a href="javascript:history.back()">
                    <figure>
                        <img src="{% static 'img/left-arrow-alt-regular-24.png' %}" alt="atras" class="atras">
                    </figure> 
                </a>
            </div>
        </nav>
    </header>
    <div id="contenedor">
        <main class="perfil">
            <ul class="pedidoDevolucion">
                <li class="pedido1"><a href="{% url 'pedidos' %}">Pedidos</a></li>
                <li class="devolucion"><a href="{% url 'reclamaciones' %}">Reclamaciones</a></li>
            </ul>
            
            <div class="pedido">
                <p><strong>Reclamación resuelta:</strong></p>
                <p><strong>Número de orden:</strong> #12341</p>
                <p><strong>Fecha:</strong> 2 de junio de 2024</p>
                <p><strong>Hora:</strong> 09:45 p.m.</p>
                <p><strong>Productos:</strong> 1 artículo</p>
                <p><strong>Estado:</strong> Enviado</p>
                <p><strong>Fecha de reclamación:</strong> 9 de junio de 2024</p>
                <p><strong>Precio total:</strong> $50.00</p>
                <p><strong>Detalles:</strong> Producto incorrecto enviado. Reenvío programado para el 18 de junio de 2024.</p>
            </div>
            <br>

            <div class="pedido">
                <p><strong>Reclamación pendiente:</strong></p>
                <p><strong>Número de orden:</strong> #12340</p>
                <p><strong>Fecha:</strong> 2 de marzo de 2024</p>
                <p><strong>Hora:</strong> 10:00 p.m.</p>
                <p><strong>Productos:</strong> 1 artículo</p>
                <p><strong>Estado:</strong> Enviado</p>
                <p><strong>Fecha de reclamación:</strong> 9 de marzo de 2024</p>
                <p><strong>Precio total:</strong> $50.00</p>
                <p><strong>Detalles:</strong> Producto recibido dañado, adjunto fotos.</p>
            </div>
            <br>
        </main>
    </div>    
    <footer class="footer">
        <p class="texto__footer">&copy; Todos los derechos reservados - Jardinería Hernández 2024.</p>
    </footer>
</body>
</html>
