<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado de la Solicitud</title>
    <meta name="description" content="Jardinería Hernández, tranformando tu patio, contamos con una gran variedad de servicios...">
    <meta name="keywords" content="Jardinería, Servicios de Jardinería, Plantas, Jardin">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='imag/iconoverde.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-free-5.15.4-web/css/all.css') }}">
</head>
<body>
     <header>
        <div class="logo1">
            <figure class="logo__Empresa">
                <a href="{{ url_for('index') }}">
                    <img src="{{ url_for('static', filename='img/CapturaLogo3.JPG') }}" alt="Logo de la Jardinería Hernández" title="Logo de la Jardinería Hernández" class="logo">
                </a>
            </figure>
        </div>
        
        <!-- Menu-->  
        <nav class="menu">
            <div class="abreMenu"><i class="fa fa-ellipsis-v"></i></div>
            <!-- Menu Superior -->
            <ul class="menu__superior">
                <li class="menu__icono">
                    <div class="iconoBusqueda" alt="Buscar">
                        <img src="{{ url_for('static', filename='img/search-alt-regular-36.png') }}" alt="lupa" class="icon buscarIcono">
                        <div class="busqueda">
                            <input type="text" placeholder="Buscar..." class="inputBuscar">
                            <span class="limpiarBuscar"><strong>&times;</strong></span>
                        </div>
                    </div>
                    <a href="{{ url_for('carrito') }}" alt="Carrito de compras">
                        <img src="{{ url_for('static', filename='img/cart-alt-regular-36.png') }}" alt="carrito" class="icon">
                    </a>
                    <a href="{{ url_for('inicioSesion') }}" alt="Iniciar sesión">
                        <img src="{{ url_for('static', filename='img/user-circle-regular-36.png') }}" alt="usuario" class="icon">
                    </a>
                </li>
            </ul>
          
            <ul class="menu__horizontal">
                <li class="menu__Empresa"><a href="{{ url_for('index') }}">Inicio</a></li>
                <li class="menu__Empresa"><a href="{{ url_for('servicios') }}">Servicios</a></li>
                <li class="menu__Empresa"><a href="{{ url_for('catalogo') }}">Productos</a>
                    <ul class="menu__vertical">
                        <li><a href="{{ url_for('plantas') }}">Plantas</a></li>
                        <li><a href="{{ url_for('fertilizantes') }}">Fertilizantes</a></li>
                        <li><a href="{{ url_for('herramientas') }}">Herramientas</a></li>
                        <li><a href="{{ url_for('accesorios') }}">Accesorios</a></li>
                    </ul>
                </li>
                <li class="menu__Empresa"><a href="{{ url_for('contacto') }}">Contacto</a></li>
                <li class="menu__Empresa"><a href="{{ url_for('nosotros') }}">Nosotros</a></li>
                <div class="cierraMenu"><i class="fa fa-times"></i></div>
                <span class="iconos">
                    <a href="https://www.instagram.com/jardineriahernandez21?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank"><i class="fab fa-instagram"></i></a>
                </span>
            </ul>
            <div class="flecha">
                <a href="javascript:history.back()">
                    <figure>
                        <img src="{{ url_for('static', filename='img/left-arrow-alt-regular-24.png') }}" alt="atras" class="atras">
                    </figure> 
                </a>
            </div>
        </nav>
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    </header>

    <main>
        <section>
            <article class="formulario__Cotizar">
                <div class="resul">
                    <div id="resultado" class="resultado">
                        <!-- Aquí se mostrará la información de la cotización -->
                    </div>
                    <div class="botones_pagos">
                        <button class="siguiente">Pagar 50% Ahora</button>
                        <!--  -->
                        <a href="#"><button class="siguiente">Pagar</button></a> 
                    </div>
                </div>
            </article>
        </section>
    </main>

    <footer class="footer">
        <p class="texto__footer">&copy; Todos los derechos reservados - Jardinería Hernández 2024.</p>
    </footer>
    <script src="{{ url_for('static', filename='js/factura.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mostrarResultado.js') }}"></script>
</body>
</html>
