<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <meta name="description" content="Jardinería Hernández, transformando tu patio, contamos con una gran variedad de servicios...">
    <meta name="keywords" content="Jardinería, Servicios de Jardinería, Plantas, Jardin">
    <link rel="icon" href="{{ url_for('static', filename='img/CapturaLogo.JPG') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-free-5.15.4-web/css/all.css')}}">
</head>
<body>
    <header>
        <div class="logo1">
            <figure class="logo__Empresa">
                <a href="{{ url_for('index') }}">
                    <img src="{{ url_for('static', filename='img/CapturaLogo3.JPG') }}" alt="Logo de la Jardinería Hernández" title="Logo de la Jardinería Hernández" class="logo">
                </a>
            </figure>
        </div>
        
        <!-- Menu-->  
        <nav class="menu">
            <div class="abreMenu"><i class="fa fa-ellipsis-v"></i></div>
            <!-- Menu Superior -->
            <ul class="menu__superior">
                <li class="menu__icono">
                    <div class="iconoBusqueda" alt="Buscar">
                        <img src="{{ url_for('static', filename='img/search-alt-regular-36.png') }}" alt="lupa" class="icon buscarIcono">
                        <div class="busqueda">
                            <input type="text" placeholder="Buscar..." class="inputBuscar">
                            <span class="limpiarBuscar"><strong>&times;</strong></span>
                        </div>
                    </div>
                    <a href="{{ url_for('carrito') }}" alt="Carrito de compras">
                        <img src="{{ url_for('static', filename='img/cart-alt-regular-36.png') }}" alt="carrito" class="icon">
                    </a>
                    <a href="{{ url_for('inicioSesion') }}" alt="Iniciar sesión">
                        <img src="{{ url_for('static', filename='img/user-circle-regular-36.png') }}" alt="usuario" class="icon">
                    </a>
                </li>
            </ul>
          
            <ul class="menu__horizontal">
                <li class="menu__Empresa"><a href="{{ url_for('index') }}">Inicio</a></li>
                <li class="menu__Empresa"><a href="{{ url_for('servicios') }}">Servicios</a></li>
                <li class="menu__Empresa"><a href="{{ url_for('catalogo') }}">Productos</a>
                    <ul class="menu__vertical">
                        <li><a href="{{ url_for('plantas') }}">Plantas</a></li>
                        <li><a href="{{ url_for('fertilizantes') }}">Fertilizantes</a></li>
                        <li><a href="{{ url_for('herramientas') }}">Herramientas</a></li>
                        <li><a href="{{ url_for('accesorios') }}">Accesorios</a></li>
                    </ul>
                </li>
                <li class="menu__Empresa"><a href="{{ url_for('contacto') }}">Contacto</a></li>
                <li class="menu__Empresa"><a href="{{ url_for('nosotros') }}">Nosotros</a></li>
                <div class="cierraMenu"><i class="fa fa-times"></i></div>
                <span class="iconos">
                    <a href="https://www.instagram.com/jardineriahernandez21?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank"><i class="fab fa-instagram"></i></a>
                </span>
            </ul>
            <div class="flecha">
                <a href="javascript:history.back()">
                    <figure>
                        <img src="{{ url_for('static', filename='img/left-arrow-alt-regular-24.png') }}" alt="atras" class="atras">
                    </figure> 
                </a>
            </div>
        </nav>
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    </header>
    <main>
        <section>
            <article class="servicio">
                <h2 class="titulo">Servicios </h2>
                <div class="servicios">
                    <figure class="servicios__img">
                        <img src="{{ url_for('static', filename='img/foto-jardineros-471019.jpg')}}" alt="mantenimiento">
                        <div class="intro">
                            <h3>Mantenimiento</h3>
                            <p>1. Recortar y dar forma a arbustos.<br>2. Eliminar las malas hierbas.<br>3. Aplicación de fertilizante.<br>4. Recogida de basura.</p>
                            <span><p>Precio: RD$2,000.00</p></span>
                            <div class="botoncito">
                               <a href="solicitarServicio.html?servicio=Mantenimeiento&precio=2000"><input type="submit" value="Solicitar"></a>
                            </a>
                            

                            </div>  
                        </div>
                    </figure>

                    <figure class="servicios__img">
                        <img src="{{ url_for('static', filename='img/diseñolist.jpg') }}" alt="diseño de jardines">
                        <div class="intro">
                            <h3>Diseños de jardines</h3>
                            <p>1. Diseño y construcción de jardines.<br>2. Servicio de control biológico de plagas.<br>3. Mantenimiento de áreas verdes.<br>4. Servicio de traslado y poda de árboles.</p>
                            <span><p>Precio: RD$2,500.00</p></span> 
                            <div class="botoncito">
                                <a href="solicitarServicio.html?servicio=Diseño de jardines&precio=2500"><input type="submit" value="Solicitar"></a>
                            </div>
                        </div>
                    </figure>

                    <figure class="servicios__img">
                        <img src="{{ url_for('static', filename='img/podalist.png')}}" alt="poda de planta">
                        <div class="intro">
                            <h3>Poda de planta</h3>
                            <p>1. Recorte de arboles y arbustos.<br>2. Forma de plantas.<br>3. Eliminación de ramas o brotes.</p>
                            <span><p>Precio: RD$1,500.00</p></span> 
                            <div class="botoncito">
                                <a href="solicitarServicio.html?servicio=Poda de planta&precio=1500"><input type="submit" value="Solicitar"></a>
                            </div>
                        </div>
                    </figure>

                    <figure class="servicios__img">
                        <img src="{{ url_for('static', filename='img/abonadolist.jpg')}}" alt="abonado">
                        <div class="intro">
                            <h3>Abonado</h3>
                            <p>1. Identificar las necesidades de las plantas<br>2. Selección de abono.<br>3. Época de abonado.<br>4. Aplicación del abono.</p>
                            <span><p>Precio: RD$1,000.00</p></span> 
                            <div class="botoncito">
                                <a href="solicitarServicio.html?servicio=Abonado&precio=1000"><input type="submit" value="Solicitar"></a>
                            </div>
                        </div>
                    </figure>

                    <figure class="servicios__img">
                        <img src="{{ url_for('static', filename='img/sistemalist.jpg')}}" alt="sistema de detección de plagas">
                        <div class="intro">
                            <h3>Sistema de detección de plagas</h3>
                            <p>1. Desinfección.<br>2. Desratización.<br>3. Desinsectación.<br>4. Fumigación.</p>
                            <span><p>Precio: RD$2,500.00</p></span>
                            <div class="botoncito">
                                <a href="solicitarServicio.html?servicio=Sistema de detección de plagas&precio=2500"><input type="submit" value="Solicitar"></a>
                            </div>
                        </div>
                    </figure>

                    <figure class="servicios__img">
                        <img src="{{ url_for('static', filename='img/tratamientolist.jpg')}}" alt="tratamiento fitosanitario">
                        <div class="intro">
                            <h3>Tratamiento fitosanitario</h3>
                            <p>1. Herbicidas.<br>2. Insecticidas.<br>3. Acricidas.<br>4. Bactericidas.</p>
                            <span><p>Precio: RD$3,000.00</p></span> 
                            <div class="botoncito">
                                <a href="solicitarServicio.html?servicio=Tratamiento fitosanitario&precio=3000"><input type="submit" value="Solicitar"></a>
                            </div>
                        </div>
                    </figure>

                    <figure class="servicios__img">
                        <img src="{{ url_for('static', filename='img/malashierbaslist.jpg')}}" alt="eliminación de malas hierbas">
                        <div class="intro">
                            <h3>Eliminación de mala hierbas</h3>
                            <p>1. Deshierbar<br>2. Arrancado a mano.<br>3. Productos químicos.<br>4. Control cultural.</p>
                            <span><p>Precio: RD$1,000.00</p></span> 
                            <div class="botoncito">
                                <a href="solicitarServicio.html?servicio=Eliminación de mala hierbas&precio=1000"><input type="submit" value="Solicitar"></a>
                            </div>
                        </div>
                    </figure>

                    <figure class="servicios__img">
                        <img src="{{ url_for('static', filename='img/sistema_de_riego.jpeg')}}" alt="revisión sistemas de riego">
                        <div class="intro">
                            <h3>Revisión de sistema de riego</h3>
                            <p>1. Sistema de filtrado.<br>2. Sistema de riego.<br>3. Mangueras de polietileno.<br>4. Revisión de riego.</p>
                            <span><p>Precio: RD$3,500.00</p></span> 
                            <div class="botoncito">
                                <a href="solicitarServicio.html?servicio=Revisión de sistema de riego&precio=3500"><input type="submit" value="Solicitar"></a>
                            </div>
                        </div>
                    </figure>

                    <figure class="servicios__img">
                        <img src="{{ url_for('static', filename='img/cespedlist.jpg')}}" alt="">
                        <div class="intro">
                            <h3>Césped artificial</h3>
                            <p>1. Instalación de césped y césped artificial.<br>2. Reparación de césped.<br>3. Supervisión de césped.</p>
                            <span><p>Precio: RD$400.00</p></span> 
                            <div class="botoncito">
                                <a href="solicitarServicio.html?servicio=Césped artificial&precio=400"><input type="submit" value="Solicitar"></a>
                            </div>
                        </div>
                    </figure>

                    <figure class="servicios__img">
                        <img src="{{ url_for('static', filename='img/riego_cultivos-scaled.jpg')}}" alt="">
                        <div class="intro">
                            <h3>Control y programación de riego</h3>
                            <p>1. Fertilización.<br>2. Riego adecuado.<br>3. Control de maleza.<br>4. Aireación del suelo.</p>
                            <span><p>Precio: RD$3,500.00</p></span>
                            <div class="botoncito">
                                <a href="solicitarServicio.html?servicio=Control y programación de riego&precio=3500"><input type="submit" value="Solicitar"></a>
                            </div>
                        </div>
                    </figure>
                </div>
            </article>
        </section>
    </main>
    <footer class="footer">
        <p class="texto__footer">&copy; Todos los derechos reservados - Jardinería Hernández 2024.</p>
    </footer>
</body>
</html>
